@using Musilu.Eshop.Web.Areas.Admin.Controllers
@model CarouselItem
@{
    ViewData["Title"] = "Edit";
}
<h1>@ViewData["Title"]</h1>

<p>EDIT</p>
@{
    ViewBag.Action = nameof(CarouselController.Edit);
}
<partial name="CreateEditForm" model="Model">

    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
